# ==================================================
# NODE.JS
# ==================================================

node_modules/

backend/node_modules/

frontend/node_modules/

npm-debug.log*

# ==================================================
# BUILD
# ==================================================

dist/

build/

frontend/dist/

# ==================================================
# IDE
# ==================================================

.vscode/

.idea/

# ==================================================
# SISTEMA
# ==================================================

Thumbs.db

Desktop.ini

.DS_Store

# ==================================================
# ENTORNOS LOCALES
# ==================================================

.env.local

.env.production

# ==================================================
# MINIATURAS DINAMICAS
# ==================================================

almacenamiento/miniaturas/*

!almacenamiento/miniaturas/1.png
!almacenamiento/miniaturas/2.png
!almacenamiento/miniaturas/3.png
!almacenamiento/miniaturas/4.jpg
!almacenamiento/miniaturas/5.jpg
!almacenamiento/miniaturas/6.jpg
!almacenamiento/miniaturas/7.jpg
!almacenamiento/miniaturas/default.png